.padding-y-5 {
    padding-top: 5%;
}

.table-head {
    background-color: #3b49df;
    color: white;
    font-weight: 700;
    border: 1px solid black;
}

.blue-button {
    border: none;
    background-color: #4749ef;
    color: white;
    padding: 10px 20px;
}

.color-theme {
    color: #4749ef;
}
.sub-ware {
    /* width: 25%; */
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.warehouse {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.filler {
    /* border: 1px solid black; */
    height: 200px;
}

.border-black {
    border: 1px solid black;
}

.text-start > h1 {
    margin-top: -30px;
    margin-bottom: 30px;
    text-align: center;
}

.container > h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.container {
    margin-bottom: 100px;
}

.App {
    font-family: sans-serif;
    text-align: center;
}
.padding-y-5 {
    padding-top: 5%;
}

.blue-button {
    border: none;
    background-color: #4749ef;
    color: white;
    padding: 10px 20px;
}

.color-theme {
    color: #4749ef;
}
.sub-ware {
    /* width: 25%; */
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: auto;
}

.warehouse {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.filler {
    /* border: 1px solid black; */
    height: 198px;
}

.border-black {
    border: 1px solid black;
}
