.padding-y-5 {
    padding-top: 5%;
  }
  
  .blue-button {
    border: none;
    background-color: #4749ef;
    color: white;
    padding: 10px 20px;
  }
  
  .color-theme {
    color: #4749ef;
  }
  .sub-ware {
    /* width: 25%; */
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .warehouse {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  
  .filler {
    /* border: 1px solid black; */
    height: 200px;
  }
  
  .border-black {
    border: 1px solid black;
  }